#G {
  display: inline-block;
  width: 280px;
  height: 280px;
  background: #00aa64;
  -webkit-border-bottom-left-radius: 200px;
  -webkit-border-top-left-radius: 200px;
  -webkit-border-top-right-radius: 200px;
  -moz-border-radius-bottomleft: 200px;
  -moz-border-radius-topleft: 200px;
  -moz-border-radius-topright: 200px;
  margin-right: 15px;
  z-index: -1;
}
#O {
  display: inline-block;
  width: 280px;
  height: 280px;
  background: #00aa64;
  -webkit-border-bottom-left-radius: 200px;
  -webkit-border-bottom-right-radius: 200px;
  -webkit-border-top-left-radius: 200px;
  -webkit-border-top-right-radius: 200px;
  -moz-border-radius-bottomleft: 200px;
  -moz-border-radius-bottomright: 200px;
  -moz-border-radius-topleft: 200px;
  -moz-border-radius-topright: 200px;
  z-index: -1;
}
#VLine {
  position: relative;
  background: #ffffff;
  display: inline-block;
  width: 14px;
  height: 286px;
  bottom: 286px;
  left: 140px;
}
#HLine {
  position: relative;
  background: #ffffff;
  display: inline-block;
  width: 421px;
  height: 14px;
  bottom: 410px;
  left: 140px;
}
